# DAT210x - Programming with Python for DS

## Module2 - Lab2

In [0]:
# Import and alias Pandas
import pandas as pd

Write code below to load up the `tutorial.csv` dataset. You can store it into a variable called df:

In [0]:

df = pd.read_csv("tutorial.csv")

Now that your dataset has been loaded, invoke the `.describe()` method to display some results about it:

In [5]:
df.describe()

           col0      col1      col2      col3
count  4.000000  4.000000  4.000000  4.000000
mean  -0.047068 -0.550656  0.409203 -0.447672
std    1.029715  0.701720  0.723956  1.300815
min   -1.062870 -1.330682 -0.238536 -1.649853
25%   -0.807875 -0.880830 -0.143055 -1.475916
50%   -0.142899 -0.617291  0.283070 -0.592780
75%    0.617907 -0.287118  0.835328  0.435464
max    1.160396  0.362640  1.309208  1.044722

Lastly, try experimenting with indexing. Figure out which _indexing method_ you would need to use in order to index your dataframe with: `[2:4, 'col3']`. Finally, display the results:

In [34]:
print(df[2:4]['col3'])
print(df.loc[2:4]["col3"])
print(df.iloc[2:4]['col3'])
print(df.loc[2:4, 'col3'])

2   -1.417937
3   -1.649853
Name: col3, dtype: float64
2   -1.417937
3   -1.649853
Name: col3, dtype: float64
2   -1.417937
3   -1.649853
Name: col3, dtype: float64
2   -1.417937
3   -1.649853
Name: col3, dtype: float64